header {
    background-color: #395a85;
  }
  
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
  }
  
  header img {
    width: 10rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0;
  }
  
  header nav ul{
    display: flex;
    font-size: 1.4rem;
  }
  
  header nav ul li{
    list-style: none;
    font-size: 1em;
  }
  
  header nav ul li a {
      text-decoration: none;
      display: block;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem; 
      padding: 2.4rem;
      transition: all 250ms linear 0s;
    }