@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@200&display=swap');


main h2{
    font-family: "Bebas Neue";
    font-weight: lighter;
    font-size: 48px;
}

.content a {text-decoration: 0; color: black;}

.content a:hover{
    color: rgb(100, 100, 100);
    font-weight: bolder;
}

.content p{
    position: absolute;
    margin-top: 75px;
    margin-right: 100px;
    font-size: 24px;
    font-family: "Montserrat";
    color: black;
}

.content p br{ 
    display: block;
    content:"";
    margin-top: 15px;
   }

.mapa iframe{
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    align-content: center;
    justify-content: center;
}


.content a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(100, 100, 100);
    transition: width .3s;
}

.content a:hover::after{
    width: 50%;
    transition: width .3s;
}

.blocos{
    display: grid;
    grid-gap: 20px;
    left: 0;
    font-family: "Open Sans Condensed"; 
    font-size: large;
}

.bloco 
{
    border-radius: 15px ;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}

.bloco h4 {font-weight: normal;}

.bloco ul li{
    list-style: none;
}

main div #about{
    display:block;
    text-align: center;
    margin-top: 15rem;
    margin-right: 15rem;
    margin-left: 15rem;
    font-size: 3rem;
}

#home{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

main div #bloco-index{font-size: 3rem; width: 100rem; }

main div #li-desc{
    font-size: 2rem;
}

figcaption a:hover::after{
    display:none;
   }
   
/*#customcontrols figcaption { 
    background: rgba(0,0,0,0.6); 
    display: none; padding: .5em; 
    color: #fff;
    position: relative; top: -2.2rem;
    text-align: right;
    margin-bottom: -2.2rem;
    }

#customcontrols figcaption a { 
	text-decoration: none; font-size: 1rem; 
	margin-right: .5rem;
	color: #fff;
	border-bottom: none;
}*/

#customcontrols a:hover { color: gray; }
